<div class="row">
  <div class="col mx-5 mt-3">
    <table class="table border-top border-bottom">
      <thead class="bottom-shadow">
        <tr>
          <th scope="col" class="shadowed-text-light">#</th>
          <th scope="col" class="shadowed-text-light">Name</th>
          <th scope="col" class="shadowed-text-light">Channel</th>
          <th scope="col" class="shadowed-text-light">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series" class = "table-active">
          <th scope="row">{{serie.id}}</th>
          <td class="text-primary">{{serie.name}}</td>
          <td>{{serie.channel}}</td>
          <td>{{serie.seasons}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <p>Seasons average: {{average}}</p>
    </div>
  </div>
  <div class="col">
  </div>

</div>

